<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	 <context:component-scan base-package="com.way.utils.freemarker" />
    
   	<!-- Freemarker配置 -->
     <bean id="freeMarkerConfigurer"

     class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
          <property name="templateLoaderPath" value="classpath:freemarker/" />
          <property name="freemarkerSettings">
              <props>
                   <prop key="incompatible_improvements">2.3.23</prop>
                   <prop key="template_exception_handler">rethrow</prop>
                   <prop key="default_encoding">UTF-8</prop>
              </props>
          </property>
     </bean>
	
</beans>